/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  /* 이미지는 원본크기보다 안커지게(맥시멈을 제한, 원본크기로 렌더링, 아무리 늘려도 크기는 똑같음)
  원본크기보다 줄였을때는 이미지도 같이 줄여짐 */
  max-width: 100%;
  height: auto;
}

/* 비디오는 무조건 커지게 (부모 크기에 따라 늘었다 줄었다함-부모-figure class="news__videoContainer" 크기 기준으로 계산) */
video {
  width: 100%;
  height: auto;
}


